<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DATAKOM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>

    <!-- Nav Bar start -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container">
        <a class="navbar-brand text-light" href="/">DATAKOM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active text-light" href="/products">Pengguna</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light" href="/categories">Kategori</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light" href="/pangkats">Pangkat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light" href="/units">Kesatuan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light" href="/stocks">Stock</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Nav Bar end -->


    <div class="container mt-3">
        <div class="row d-flex justify-content-center">
            <div class="col-4">
                <h2>Edit Pangkat</h2>
                <hr>
                <form action="/pangkats/edit" method="POST">
                    <input type="hidden" name="id" value="{{ .pangkat.Id }}">
                    <div class="mb-3">
                        <label class="form-label">Edit Pangkat Name</label>
                        <input type="text" class="form-control" name="name" autocomplete="off" value="{{ .pangkat.Name }}">
                    </div>
                    <div class="float-end">
                        <a href="/pangkats" class="btn btn-secondary">Back</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>